
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


body{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    
}
main{
    max-width: 1440px;
    font-family: 'Inter', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    position: relative;
}
header .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20px)
}
#work{
    margin-top: 50px;
    width: 100%;
}
#About{
    margin-top: 100px;
    width: 100%;
}
#Contact{
    margin-top: 100px;
}
footer{
    margin-top: 100px;
}
.textprst{
    color: #172B4D;
    font-weight:800;
    font-size: 2.5em;
}
.textprst2{
    color: #FF6B00;
    font-weight:800;
    font-size: 2.5em;
    margin-bottom: 50px;
}
.btnn{
    background-color: #FF6B00;
    border: 1px solid black;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    width: 330px;
    height: 60px;
    margin-top: 80px;
    box-shadow: 4px 3px 3px 3px rgba(0,0,0,0.2);
}
.btnn:hover{
    background-color: #FE984E;
}
.btnn:focus{
    background-color: #E35F00;
}
#work .btn-cart{
    background-color:#36B37E;
}
#work .btn-cart:hover{
    background-color:hsl(155, 45%, 84%);
    box-shadow: 4px 6px 3px 3px hsla(153, 80%, 63%, 0.2);
}
#work .btn-cart:focus{
background-color:#28855D;
}
.espacetitre{
    padding-top:100px;
    
}
.img img{
    margin-right: -170px;
    width: 730px;
}
.conttexttitre{
    margin-right: -50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.conttexttitre .texttt{
    width: 600px;
}
.chevronbas{
    position: absolute;
    bottom: 20px;
    right: 695px;
    border: 1px solid rgb(179, 175, 175);
    border-radius: 50%;
    padding: 10px 14px;
}
.orange{
    color: #FF6B00;
}
#About .couleurcart{
    background-color: #EBF0EE;
}
#About span .ligneAbout{
    background-color: #172B4D;
    height: 20px;
    width:50px;
}
#Contact .textarea{
    border: 2px solid #FE984E;
    outline-color: #FE984E;
}
#Contact .btn-form{
    background-color: #FF6B00;
    border: none;
    border-radius:6px;
    font-size: 16px;
    color: #fff;
}
#Contact .btn-form:hover{
    background-color: #FE984E;
}
#Contact .btn-form:focus{
    background-color: #E35F00;
}
.couleuricon:hover{
    fill: #FF6B00;
}
::-webkit-input-placeholder {
    font-style: italic;
 }
 #work article nav img{
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
 }
 #work section article img{
    border-radius: 10px;
    box-shadow: 26px 26px 25px rgba(0, 0, 0, 0.3);
 }
 #work section article .article{
    background-color: red
 }

/* ::-webkit-resizer{
    outline-color:red; } */

@media screen and (max-width:1024px) {
    .espacetitre{
        padding-top:60px;
    }
    .textprst{
        color: #172B4D;
        font-weight:800;
        font-size: 2.2em;
    }
    .textprst2{
        color: #FF6B00;
        font-weight:800;
        font-size: 2.2em;
        margin-bottom: 50px;
    }
    
    .img img{
        margin-left: -110px;
        width: 680px;
    }
    .chevronbas{
        position: absolute;
        bottom: 20px;
        right: 490px;
    }
    .btnn{
        font-size: 1.5em;
        width: 260px;
        height: 60px;
        margin-top: 10px;
        box-shadow: 4px 3px 3px 3px rgba(0,0,0,0.2);
    }
    .conttexttitre{
        margin-left: -350px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .conttexttitre .texttt{
        width: 400px;
        margin-bottom: 40px;
    }
}



@media screen and (max-width:768px) {
    main{
        width: 100%;
        font-family: 'Inter', sans-serif;
    }
    .espacetitre{
        padding-top:150px;
    }
    .textprst{
        font-weight:800;
        font-size: 1.6em;
    }
    .textprst2{
        color: #FF6B00;
        font-weight:800;
        font-size: 1.6em;
        margin-bottom: 30px;
    }
    .img img{
        margin-left: 85px;
        width : 530px;
        margin-bottom: 100px;
    }
    .chevronbas{
        position: absolute;
        bottom: 20px;
        right: 360px;
        
    }
    #work article nav{
        height: 220px;
    }
    #About .carttt{
        font-size:13px;
        font-weight: bold;
     }
     .conttexttitre{
        margin:auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
     .conttexttitre .texttt{
        width: 350px;
    }
    .conttexttitre p{
        font-size: 14px;
    }
    .btnn{
        font-size: 1em;
        width: 200px;
        height: 50px;
        margin-top: 1px;
    }
}
@media screen and (max-width:425px) {
    .img img{
        margin-left: -5px;
        width : 400px;
        margin-bottom: 100px;
    }
    .espacetitre{
        padding-top:100px;
    }
}